{{ define "main" }}

<section class="section">
    <div class="container">
        <div class="columns is-multiline is-mobile">
            <div class="column is-8-desktop is-12-tablet is-offset-2-desktop">
                <div class="content">
                    <h2>
                        {{ .Title }}
                    </h2>
                    <p class="is-size-7">By {{ range .Params.authors }}{{ . }}{{ end }}</p>
                    <hr>
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</section>


{{ end }}
